section#home-objects
  .content-block
  
    .object-wide
      a.neo-static(href='#{neo_url}')
        div
          img.img-full(src='../images/object_neo_home@2x.png')
          img.img-mobile(src='../images/object_neo_mobile@2x.png')
          .border
          .border-micro
      .captioned
        p 
          a(href='#{neo_url}') Neo Innovation 
            span &mdash; a brand refresh in honor of process

    .columns
      .object-tall
        a.mociun-static(href='#{mociun_url}')
          div
            img(src='../images/object_mociun_home@2x.png')
            .border
            .border-micro
        .captioned
          p 
            a(href='#{mociun_url}') Mociun 
              span &mdash; elevated ecommerce

      .object-tall.availability
        div
          img(src='../images/object_ticket_home@2x.gif')
          h2 Available for new projects
          p April 2017+
              
        
      .object-tall.broadside
        div
          ul
            li We help businesses
            li.arrow-butt-down
            li See the future
            li Build brands
            li Tell their story
            li Understand users
            li Ask why
            li Launch products
            li Grow audiences
            li Test & iterate
            li.arrow-head-down
                        
      .object-tall
        a.keurig-static(href='#{keurig_url}')
          div
            img(src='../images/object_keurig_home@2x.png')
            .border
            .border-micro
        .captioned
          p 
            a(href='#{keurig_url}') Keurig 
              span &mdash; the coffee shop just for you
          
    .object-wide
      .lincoln-static
        div
          img.img-full(src='../images/object_lincoln_home@2x.png')
          img.img-mobile(src='../images/object_lincoln_comingsoon_mobile@2x.png')
          .border
          .border-micro
      .captioned
        p
          span.silver Coming soon
